<div class="bg-gray-50 border border-solid border-gray-300 rounded-sm p-4 overflow-clip">
  @if (suppliers$ | async; as suppliers) {
    <ul>
      @for (supplier of suppliers; track $index) {
        <li class="grid grid-cols-2 gap-y-1 mb-2 last:mb-0 bg-gray-100 text-xs rounded-sm overflow-clip border border-solid border-gray-300 p-2">
          <span>شناسه تامین کننده</span>
          <span>{{ supplier.id}}</span>
          <span>نام تامین کننده</span>
          <span>{{ supplier.name}}</span>
          <span>آدرس</span>
          <span>{{ supplier.address}}</span>
          <span>شماره تماس</span>
          <span>{{ supplier.phone}}</span>
          <span>تلگرام</span>
          <span>{{ supplier.telegram}}</span>
          <span>اینستاگرام</span>
          <span>{{ supplier.instagram}}</span>
          <div class="col-span-2">
            <div class="flex gap-2">
              <button nzType="primary" nz-button nzBlock (click)="editSupplier(supplier.id)">
                <i class="fa-solid fa-pen mx-2"></i>
                <span>ویرایش</span>
              </button>
              <button nzType="default" nzDanger nz-button nzBlock (click)="deleteSupplier(supplier.id)">
                <i class="fa-solid fa-trash mx-2"></i>
                <span>حذف</span>
              </button>
            </div>
          </div>
        </li>
      } @empty {
        <nz-empty nzNotFoundContent="موردی یافت نشد"></nz-empty>
      }
    </ul>
  } @else {
    <ul>
      @for (_ of [].constructor(3); track $index) {
        <li class="mb-2 last:mb-0 bg-gray-100 text-xs rounded-sm overflow-clip border border-solid border-gray-300 p-4">
          <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
        </li>
      }
    </ul>
  }
</div>
