<div class="bg-gray-50 overflow-clip rounded-sm border border-solid border-gray-300">
  @if (productDetail$ | async; as product) {
    <img nz-image nzDisablePreview [nzSrc]="product.imageSrc" class="block object-cover aspect-square" alt="product-image" width="600" height="600"/>
    <nz-space nzDirection="vertical" nzSize="small" class="p-4">
      <div *nzSpaceItem>
        <strong class="text-lg">{{ product.name }}</strong>
      </div>
      <div class="flex gap-2 w-full" *nzSpaceItem>
        <span>رنگ‌ها: </span>
        <nz-radio-group nzSize="small">
          @for (color of product.colorCodes; track $index) {
            <label nz-radio-button [nzValue]="color">
              <span class="w-4 h-4 align-middle inline-block rounded-full border-2 border-solid border-gray-300" [style.background-color]="color"></span>
            </label>
          }
        </nz-radio-group>
      </div>
      <div class="flex items-center gap-2 w-full" *nzSpaceItem>
        <span>سایزها: </span>
        <nz-radio-group nzSize="small">
          @for (size of product.sizes; track $index) {
            <label nz-radio-button class="tabular-nums font-mono" [nzValue]="size">{{ size }}</label>
          }
        </nz-radio-group>
      </div>
      <div *nzSpaceItem class="flex items-center gap-2 w-full">
        <label for="material">جنس: </label>
        <div>
          @for (material of product.materials; track $index) {
            <span class="me-2" id="material">{{ material }}</span>
          }
        </div>
      </div>
      <div *nzSpaceItem>
        <span class="me-2">قیمت:</span>
        <strong class="me-1">{{ product.price | number }}</strong>
        <span class="text-xs">ریال</span>
      </div>
    </nz-space>
    <div>
      <button nz-button nzType="primary" nzBlock nzSize="large" (click)="addToCart(product)">
        <i class="fa-solid fa-shopping-cart fa-sm me-2"></i>
        <span>افزودن به سبد سفارشات</span>
      </button>
    </div>
  } @else if (productLoading$ | async) {
    <nz-space nzDirection="vertical">
      <nz-skeleton-element nzBlock nzType="image" [nzActive]="true"></nz-skeleton-element>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </nz-space>
  } @else {
    <nz-empty [nzNotFoundImage]="notFoundImage" nzNotFoundContent="کالای مورد نظر شما پیدا نشد"></nz-empty>
  }
</div>

<ng-template #notFoundImage>
  <img class="pt-2 inline-block object-contain" ngSrc="/images/not-found.webp" priority alt="not-found" width="450" height="450" />
</ng-template>