<div class="bg-gray-50 overflow-clip rounded-sm border border-solid border-gray-300">
  @if ({detail: productDetail$ | async, loading: productLoading$ | async}; as product) {
    @if (product.loading) {
      <nz-space nzDirection="vertical">
        <nz-skeleton-element nzBlock nzType="image" [nzActive]="true"></nz-skeleton-element>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </nz-space>
    } @else if (product.detail) {
      <img [ngSrc]="product.detail.imageSrc" class="block object-cover aspect-square" alt="product-image" width="600"
           height="600"/>
      <ng-container *ngTemplateOutlet="productForm; context: {$implicit: product.detail}"></ng-container>
    } @else {
      <nz-empty [nzNotFoundImage]="notFoundImage" nzNotFoundContent="کالای مورد نظر شما پیدا نشد"></nz-empty>
    }
  }
</div>

<ng-template #notFoundImage>
  <img alt="not-found" class="pt-2 inline-block object-contain" height="450" ngSrc="/images/not-found.webp" priority
       width="450"/>
</ng-template>

<ng-template #productForm let-product>
  <form (ngSubmit)="addToCart(product)" [formGroup]="productFormGroup" class="p-4">
    <div nz-row class="mb-3">
      <strong class="text-lg">{{ product.name }}</strong>
    </div>
    <div nz-row class="mb-3">
      <label nz-col nzSpan="4" nzXs="4">رنگ‌ها</label>
      <div nz-col nzSpan="18" nzXs="18">
        <nz-radio-group formControlName="color" nzSize="small">
          @for (color of product.colorCodes; track $index) {
            <label nz-radio-button [nzValue]="color">
              <span class="w-4 h-4 align-middle inline-block rounded-full border-2 border-solid border-gray-300"
                    [style.background-color]="color"></span>
            </label>
          }
        </nz-radio-group>
      </div>
    </div>
    <div nz-row class="mb-3">
      <label nz-col nzSpan="4" nzXs="4">سایزها</label>
      <div nz-col nzSpan="18" nzXs="18">
        <nz-radio-group formControlName="size" nzSize="small">
          @for (size of product.sizes; track $index) {
            <label nz-radio-button class="tabular-nums font-mono" [nzValue]="size">{{ size }}</label>
          }
        </nz-radio-group>
      </div>
    </div>
    <div nz-row class="mb-3">
      <label nz-col nzSpan="4" nzXs="4">جنس</label>
      <div nz-col nzSpan="18" nzXs="18">
        @for (material of product.materials; track $index) {
          <span class="me-2" id="material">{{ material }}</span>
        }
      </div>
    </div>
    <div nz-row class="mb-3">
      <label nz-col nzSpan="4" nzXs="4">قیمت</label>
      <div nz-col nzSpan="18" nzXs="18">
        <strong class="me-1">{{ product.price | number }}</strong>
        <span class="text-xs">ریال</span>
      </div>
    </div>
    <div nz-row>
      <button nz-button nzBlock [disabled]="productFormGroup.invalid" nzSize="large" nzType="primary" type="submit">
        <i class="fa-solid fa-shopping-cart fa-sm me-2"></i>
        <span>افزودن به سبد سفارشات</span>
      </button>
    </div>
  </form>
</ng-template>
