<page-container>
  @if (availableProducts$ | async; as stockItems) {
    @for (stockItem of stockItems; track $index) {
      <card-container class="mb-3 last:mb-0">
        <div class="flex gap-4">
          <nz-badge [nzCount]="stockItem.availableQuantity">
            <product-image-container [imageSrc]="stockItem.product.image"></product-image-container>
          </nz-badge>
          <div class="text-xs">
            <div>{{ stockItem.product.name }}</div>
            <div class="font-mono">{{ stockItem.product.code }}</div>
            <div>
              <span class="me-4">{{ stockItem.size.label }}</span>
              <span class="me-4">{{ stockItem.color.label }}</span>
              <div class="inline-block">
                <currency-wrapper class="me-2"></currency-wrapper>
                <span>{{ stockItem.sellingUnitPrice | number }}</span>
              </div>
            </div>
          </div>
        </div>
      </card-container>
    } @empty {
      <nz-empty nzNotFoundContent="کالایی موجود نیست"></nz-empty>
    }
  } @else {
    @for (_ of [].constructor(5); track $index) {
      <card-container class="mb-3 last:mb-0">
        <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
      </card-container>
    }
  }
</page-container>
