<page-container>
  @if (availableProducts$ | async; as stockItems) {
    <card-container class="mb-3 last:mb-0">
      @for (stockItem of stockItems; track $index) {
        <div class="grid grid-cols-12 grid-rows-1 gap-2">
          <div
            class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-600">
            @if (stockItem.product.image) {
              <img [ngSrc]="stockItem.product.image"
                   class="w-12 h-full object-cover"
                   width="60"
                   height="60"
                   alt="product image"/>
            } @else {
              <i class="fa-solid fa-image fa-xl text-gray-400"></i>
            }
          </div>
          <div class="col-span-9 grid grid-cols-9 grid-rows-2 w-full">
            <div class="col-span-5 text-xs">{{ stockItem.product.name }}</div>
            <div class="col-span-4 text-xs">سایز: {{ stockItem.size.label }}</div>
            <div class="col-span-5 font-mono font-bold text-xs">{{ stockItem.product.code }}</div>
            <div class="col-span-4 text-xs">رنگ: {{ stockItem.color.label }}</div>
          </div>
        </div>
        <div class="grid grid-cols-4 grid-rows-2 mt-2">
          <div class="py-2 text-xs text-start">تعداد موجودی</div>
          <div class="py-2 text-xs text-center">قیمت واحد</div>
          <div class="py-2 text-xs text-center">مجموع خرید</div>
          <div class="py-2 text-xs text-center">مجموع فروش</div>
          <div class="py-2 text-xs text-center">{{stockItem.availableQuantity | number }}</div>
          <div class="py-2 text-xs text-center">{{stockItem.sellingUnitPrice | number }}</div>
          <div class="py-2 text-xs text-center">{{stockItem.totalPurchased | number }}</div>
          <div class="py-2 text-xs text-center">{{stockItem.totalSold | number }}</div>
        </div>
      } @empty {
        <nz-empty nzNotFoundContent="کالایی موجود نیست"></nz-empty>
      }
    </card-container>
  } @else {
    @for (_ of [].constructor(5); track $index) {
      <card-container class="mb-3 last:mb-0">
        <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
      </card-container>
    }
  }
</page-container>
