<page-container>
  @if (availableProducts$ | async; as stockItems) {
    @for (stockItem of stockItems | groupItems; track $index) {
      <card-container class="mb-3 last:mb-0">
        <div class="flex gap-4 mb-3">
          <nz-badge [nzCount]="stockItem.totalAvailableQuantity">
            <product-image-container [imageSrc]="stockItem.image"></product-image-container>
          </nz-badge>
          <div class="text-xs">
            <div>{{ stockItem.name }}</div>
            <div class="font-mono">{{ stockItem.code }}</div>
          </div>
        </div>
        <div class="text-xs">
          @for (color of stockItem.colors; track $index) {
            <div dir="rtl" class="mb-3">
              <span>{{ color.label }}:</span>
              @for (size of color.sizes; track $index) {
                <div class="inline-block mx-2">
                  <nz-badge [nzCount]="size.quantity" [nzStyle]="{'background-color': colors.gray_7}" nzSize="small">
                    <span class="px-2 border border-solid border-gray-600 rounded-md">{{size.label}}</span>
                  </nz-badge>
                </div>
              }
            </div>
          }
        </div>
      </card-container>
    } @empty {
      <nz-empty nzNotFoundContent="کالایی موجود نیست"></nz-empty>
    }
  } @else {
    @for (_ of [].constructor(5); track $index) {
      <card-container class="mb-3 last:mb-0">
        <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
      </card-container>
    }
  }
</page-container>
