<form nz-form
      nzLayout="vertical"
      nzLabelAlign="right"
      (ngSubmit)="login()"
      [formGroup]="loginForm">
  <div class="p-4 border border-solid border-gray-400 rounded-sm bg-gray-50 overflow-clip">
    <nz-form-item>
      <nz-form-label nzFor="username">نام کاربری</nz-form-label>
      <nz-form-control>
        <input nz-input
               required
               name="username"
               type="text"
               id="username"
               formControlName="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">کلمه عبور</nz-form-label>
      <nz-form-control>
        <input nz-input
               required
               name="password"
               type="password"
               id="password"
               formControlName="password"/>
      </nz-form-control>
    </nz-form-item>
    <button nz-button [nzLoading]="loginLoading$ | async" nzBlock nzType="primary" [disabled]="loginForm.invalid">ورود</button>
  </div>
</form>
