@import "colors";

@font-family: 'Vazirmatn', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';

// Layout
@layout-body-background: @gray-1;
@layout-header-background: @gray-1;
