<form nz-form [formGroup]="inventoryFormGroup" (ngSubmit)="checkInventory()">
  <nz-form-item>
    <label for="code" class="my-2">کد کالای مورد نظرتون رو وارد کنین</label>
    <nz-form-control nzSpan="24" [nzErrorTip]="ErrorTipCode">
      <nz-input-group nzSize="large">
        <input formControlName="code" nz-input placeholder="کد کالا" id="code" maxlength="8" minlength="7"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzBlock nzType="primary" [disabled]="inventoryFormGroup.invalid" [routerLink]="'/product/' + condeControl?.value">
        <i class="fa-solid fa-search fa-sm me-2"></i>
        <span>جستجوی کالا</span>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<router-outlet></router-outlet>
<ng-template #ErrorTipCode>
  @if (condeControl?.errors?.['required']) {
    وارد کردن کد کالا الزامی است
  } @else if (condeControl?.errors?.['pattern']) {
    الگوی کد کالا صحیح نمیباشد
  }
</ng-template>