@if (transactionsIndex$ | async; as transactions) {
  <responsive-container (isDesktopChange)="isDesktop.set($event)">
    <button
      [disabled]="loadingState"
      [nzLoading]="loadingState"
      nzType="primary"
      nz-button
      [nzBlock]="!isDesktop()"
      (click)="isAddTransactionVisible = true"
    >
      <i class="fa-solid fa-plus me-2"></i>
      <span>افزودن تراکنش</span>
    </button>
    <nz-divider></nz-divider>
    @if (isDesktop()) {
      <nz-table [nzData]="transactions.items">
        <thead>
          <tr class="text-xs">
            <th>نوع</th>
            <th>تاریخ</th>
            <th>دسته‌بندی</th>
            <th>مبلغ</th>
            <th>طرف حساب</th>
            <th>روش پرداخت</th>
            <th>کد پیگیری</th>
            <th>توضیحات</th>
            <th nzWidth="70px"></th>
          </tr>
        </thead>
        <tbody>
          @for (transaction of transactions.items; track $index) {
            <tr class="text-xs">
              <td
                [ngClass]="{
                  'text-rose-500': transaction.type === 'expense',
                  'text-emerald-500': transaction.type === 'investment'
                }"
              >
                {{ transaction.type }}
              </td>
              <td>
                {{ transaction.transactionDate | persianDate: dateTimeFormatOptions }}
              </td>
              <td>{{ transaction.category }}</td>
              <td>
                <span>{{ transaction.amount | number }}</span>
                <currency-wrapper></currency-wrapper>
              </td>
              <td>{{ transaction.entityName }}</td>
              <td>{{ transaction.paymentMethod }}</td>
              <td>{{ transaction.referenceNumber }}</td>
              <td>{{ transaction.description }}</td>
              <td>
                <a
                  class="inline-block"
                  nz-button
                  nzType="text"
                  nzSize="small"
                  (click)="handleEditTransaction(transaction)"
                >
                  <i class="fa-xs fa-solid fa-pen"></i>
                </a>
                <a
                  class="inline-block"
                  nz-button
                  nzType="text"
                  nzDanger
                  nzSize="small"
                  (click)="deleteTransaction(transaction.id)"
                >
                  <i class="fa-xs fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    } @else {
      <nz-divider></nz-divider>
      @if (transactions; as transactions) {
        <ul>
          @for (transaction of transactions.items; track $index) {
            <card-container class="mb-3 last:mb-0">
              <div class="flex w-full justify-between mb-2">
                <span>{{ transaction.type }}</span>
                <span>{{ transaction.transactionDate | persianDate }}</span>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">دسته‌بندی: </span>
                <span>{{ transaction.category }}</span>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">مبلغ: </span>
                <span>{{ transaction.amount | number }}</span>
                <currency-wrapper></currency-wrapper>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">طرف حساب: </span>
                <span>{{ transaction.entityName }}</span>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">روش پرداخت: </span>
                <span>{{ transaction.paymentMethod }}</span>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">کد پیگیری: </span>
                <span>{{ transaction.referenceNumber }}</span>
              </div>
              <div class="mb-1">
                <span class="me-4 text-gray-400">توضیحات: </span>
                <span>{{ transaction.description }}</span>
              </div>
              <div class="flex gap-4 mt-2">
                <button nz-button nzType="primary" nzBlock (click)="handleEditTransaction(transaction)">
                  ویرایش
                </button>
                <button nz-button nzType="default" nzDanger nzBlock (click)="deleteTransaction(transaction.id)">
                  حذف
                </button>
              </div>
            </card-container>
          } @empty {
            <nz-empty nzNotFoundContent="موردی یافت نشد"></nz-empty>
          }
        </ul>
        <div class="mt-4">
          <nz-pagination
            [nzTotal]="transactions._meta.totalCount"
            [nzPageIndex]="transactions._meta.currentPage"
            (nzPageIndexChange)="pageIndexChange($event)"
            [nzPageSize]="transactions._meta.perPage"
          ></nz-pagination>
        </div>
      } @else if (loadingState) {
        <ul>
          @for (_ of [].constructor(3); track $index) {
            <li class="mb-3 last:mb-0 text-xs rounded-sm overflow-clip border border-solid border-gray-600 p-4">
              <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
            </li>
          }
        </ul>
      }
    }
  </responsive-container>
}

<nz-drawer
  [nzFooter]="createTransactionFooter"
  nzClosable
  nzHeight="75%"
  nzPlacement="bottom"
  nzTitle="افزودن تراکنش"
  [nzVisible]="isAddTransactionVisible"
  (nzOnClose)="closeTransactionFormDrawer()"
>
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="transactionFormTempRef"></ng-container>
  </ng-container>
</nz-drawer>
<nz-drawer
  [nzFooter]="editTransactionFooter"
  nzClosable
  nzHeight="75%"
  nzPlacement="bottom"
  nzTitle="ویرایش تراکنش"
  [nzVisible]="isEditTransactionVisible"
  (nzOnClose)="closeTransactionFormDrawer()"
>
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="transactionFormTempRef"></ng-container>
  </ng-container>
</nz-drawer>

<ng-template #transactionFormTempRef>
  <form nz-form nzLabelAlign="right" nzLayout="vertical" [formGroup]="transactionForm" (ngSubmit)="createTransaction()">
    <nz-form-item>
      <nz-form-label nzFor="transactionDate">تاریخ تراکنش</nz-form-label>
      <nz-form-control>
        <nz-date-picker
          [formControl]="transactionForm.controls.transactionDate"
          nzId="transactionDate"
          nzFormat="yyyy/MM/dd"
          nzMode="date"
          nzSize="default"
          nzSeparator="/"
          class="w-full"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="amount">مبلغ</nz-form-label>
      <nz-form-control>
        <ngx-price-input [formControl]="transactionForm.controls.amount"></ngx-price-input>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="type">نوع</nz-form-label>
      <nz-form-control>
        <nz-radio-group nzName="type" nzButtonStyle="solid" [formControl]="transactionForm.controls.type">
          <label nz-radio-button nzValue="investment">سرمایه‌گذاری</label>
          <label nz-radio-button nzValue="expense">هزینه</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="category">دسته‌بندی</nz-form-label>
      <nz-form-control>
        <nz-select nzId="category" [formControl]="transactionForm.controls.category">
          <nz-option nzValue="salaries" nzLabel="حقوق کارکنان"></nz-option>
          <nz-option nzValue="rent" nzLabel="اجاره"></nz-option>
          <nz-option nzValue="equipment" nzLabel="تجهیزات و وسایل"></nz-option>
          <nz-option nzValue="marketing" nzLabel="بازاریابی"></nz-option>
          <nz-option nzValue="shipping_packaging" nzLabel="بسته‌بندی و ارسال"></nz-option>
          <nz-option nzValue="online_platform" nzLabel="سایت و سرور"></nz-option>
          <nz-option nzValue="inventory" nzLabel="انبارداری"></nz-option>
          <nz-option nzValue="other" nzLabel="سایر"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="entityName">طرف حساب</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          required
          name="entityName"
          type="text"
          id="entityName"
          [formControl]="transactionForm.controls.entityName"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="description">توضیحات</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          required
          name="description"
          id="description"
          [formControl]="transactionForm.controls.description"
          [nzAutosize]="{ minRows: 1, maxRows: 2 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="paymentMethod">روش پرداخت</nz-form-label>
      <nz-form-control>
        <nz-select nzId="paymentMethod" [formControl]="transactionForm.controls.paymentMethod">
          <nz-option nzValue="cash" nzLabel="نقدی"></nz-option>
          <nz-option nzValue="bank_transfer" nzLabel="انتقال بانکی"></nz-option>
          <nz-option nzValue="online" nzLabel="پرداخت انترنتی"></nz-option>
          <nz-option nzValue="pos" nzLabel="کارتی (دستگاه پز)"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="referenceNumber">کد پیگیری</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          required
          name="referenceNumber"
          type="text"
          id="referenceNumber"
          [formControl]="transactionForm.controls.referenceNumber"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #createTransactionFooter>
  <button
    [nzLoading]="loadingState"
    nz-button
    nzBlock
    nzSize="large"
    nzType="primary"
    [disabled]="transactionForm.invalid || loadingState"
    (click)="createTransaction()"
  >
    <i class="fa-solid fa-plus mx-2"></i>
    <span>افزودن</span>
  </button>
</ng-template>
<ng-template #editTransactionFooter>
  <button
    [nzLoading]="loadingState"
    nz-button
    nzBlock
    nzSize="large"
    nzType="primary"
    [disabled]="transactionForm.invalid || loadingState"
    (click)="editTransaction()"
  >
    <i class="fa-solid fa-pen mx-2"></i>
    <span>ویرایش</span>
  </button>
</ng-template>
