<div style="background-color: rgba(250,250,250,0.3)" class="border backdrop-blur-xl border-solid border-gray-300 overflow-clip rounded-sm p-3 mb-4 sticky top-0 z-50">
  <div class="grid grid-cols-4 grid-rows-2 gap-x-2">
    <div class="col-span-1">
      <span class="text-xs">تعداد:</span>
      <span class="float-end font-mono mx-2">{{ totalOrderQuantity() }}</span>
    </div>
    <div class="col-span-3">
      <span class="text-xs">قیمت سفارشات:</span>
      <div class="float-end">
        <span class="font-mono">{{ totalOrderPrice() | number }}</span>
        <span class="mx-1 text-gray-600 align-middle" style="font-size: 0.6rem">ریال</span>
      </div>
    </div>
    <div class="col-span-2">
      <span class="text-xs">هزینه پست:</span>
      <div class="float-end">
        <span class="font-mono">{{ postFee() | number }}</span>
        <span class="mx-1 text-gray-600 align-middle" style="font-size: 0.6rem">ریال</span>
      </div>
    </div>
    <div class="col-span-2">
      <span class="text-xs">تخفیف:</span>
      <div class="float-end">
        <span class="font-mono">{{ discountControl?.value | number }}</span>
        <span class="mx-1 text-gray-600 align-middle" style="font-size: 0.6rem">ریال</span>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="grid grid-cols-2">
    <span>مقدار پرداختی نهایی</span>
    <div class="text-end">
      <strong class="text-end font-mono">{{ orderFee() | number }}</strong>
      <span class="mx-1 text-gray-600 align-middle" style="font-size: 0.6rem">ریال</span>
    </div>
  </div>
</div>
<div class="bg-gray-50 border border-solid border-gray-300 overflow-clip rounded-sm p-3 mb-4">
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input nz-input
           type="search"
           pattern="^[a-zA-Z0-9]{1,12}$"
           maxlength="12"
           [(ngModel)]="searchText"
           placeholder="جستجو در کد محصولات">
  </nz-input-group>

  <nz-collapse class="mt-4">
    <nz-collapse-panel nzHeader="لیست همه محصولات موجود" nzActive="true">
      @for (product of availableProducts | filterProductsByCode: searchText; track product.product.id) {
        <div class="grid grid-cols-12 gap-4 w-full bg-gray-50 border border-solid border-gray-300 rounded-sm p-2 my-2">
          <div
              class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-300">
            @if (product.product.image) {
              <img [ngSrc]="product.product.image"
                   class="w-12 h-full object-cover"
                   width="60"
                   height="60"
                   alt="product image"/>
            } @else {
              <i class="fa-solid fa-image fa-xl text-gray-400"></i>
            }
          </div>
          <div class="col-span-8">
            <div class="grid grid-cols-2 grid-rows-3 text-start w-full text-xs">
              <span class="line-clamp-1">{{ product.product.name }}</span>
              <span class="line-clamp-1 font-mono">{{ product.product.code }}</span>
              <span class="line-clamp-1">{{ product.color.label }}</span>
              <span class="line-clamp-1 font-mono">{{ product.size.label }}</span>
              <span class="line-clamp-1">
                  <span class="font-mono">{{ product.sellingUnitPrice | number }}</span>
                  <span class="mx-1 text-gray-600" style="font-size: 0.6rem">ریال</span>
                </span>
              <span class="line-clamp-1 font-mono">{{ product.availableQuantity }}</span>
            </div>
          </div>
          <div class="col-span-1 justify-self-end self-center">
            <button class="leading-none" nz-button nzType="primary" nzSize="small"
                    (click)="moveProductToOrder(product)">
              <i class="fa-solid fa-plus fa-sm leading-tight"></i>
            </button>
          </div>
        </div>
      } @empty {
        <nz-empty nzNotFoundContent="کالایی یافت نشد"></nz-empty>
      }
    </nz-collapse-panel>
  </nz-collapse>

</div>
<div class="bg-gray-50 border border-solid border-gray-300 overflow-clip rounded-sm p-4">
  <form nz-form nzLabelAlign="right" nzLayout="vertical" (ngSubmit)="submitOrderForm()" [formGroup]="customerForm">
    <nz-form-item>
      <nz-form-label nzRequired nzXs="4" nzFor="phone">شماره موبایل</nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="+98">
          <input nz-input required maxlength="10" minlength="10" name="phone" type="tel" pattern="[0-9]*"
                 inputmode="numeric" id="phone" formControlName="phone"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzXs="4" nzFor="fullName">نام کامل مشتری</nz-form-label>
      <nz-form-control>
        <input nz-input required name="fullName" type="text" id="fullName" pattern="^[\u0600-\u06FF\s-]+$"
               formControlName="fullName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzXs="4" nzFor="city">شهر</nz-form-label>
      <nz-form-control>
        <input nz-input required name="city" type="text" id="city" pattern="^[\u0600-\u06FF\s]+$"
               formControlName="city"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzXs="4" nzFor="address">آدرس</nz-form-label>
      <nz-form-control>
        <textarea
            nz-input
            required
            name="address"
            id="address" pattern="^[\u0600-\u06FF\s-]+$"
            formControlName="address"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="4" nzFor="instagram">
        <span>اینستاگرام</span>
        <i class="fa-brands fa-instagram mx-2"></i>
      </nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="instagram.com/" nzAddOnAfter="/">
          <input nz-input name="instagram" type="text" id="instagram" minlength="1" maxlength="30"
                 pattern="^[a-zA-Z0-9._]{1,30}$" formControlName="instagram"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="4" nzFor="telegram">
        <span>تلگرام</span>
        <i class="fa-brands fa-telegram mx-2"></i>
      </nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="t.me/" nzAddOnAfter="/">
          <input nz-input name="telegram" type="text" id="telegram" minlength="5" maxlength="32"
                 pattern="^[a-zA-Z][a-zA-Z0-9_]{4,31}$" formControlName="telegram"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="4" nzFor="discount">تخفیف</nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="ریال">
          <input class="font-mono" nz-input name="discount" type="number" id="discount" formControlName="discount"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzXs="4" nzFor="refNumber">شماره پیگیری</nz-form-label>
      <nz-form-control dir="ltr">
        <input class="font-mono" nz-input required name="refNumber" type="text" id="refNumber"
               formControlName="refNumber"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="4" nzFor="items">سفارشات</nz-form-label>
      <nz-form-control>
        <ng-container *ngTemplateOutlet="selectedProductsTemplate"></ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button [disabled]="customerForm.invalid" nz-button nzType="primary" nzBlock type="submit">ثبت فاکتور</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #suffixIconSearch>
  <i class="fa-solid fa-search text-gray-500"></i>
</ng-template>

<ng-template #selectedProductsTemplate>
  <div>
    @for (selectedProduct of selectedProducts; track $index) {
      <div class="grid grid-cols-12 gap-4 w-full bg-gray-50 border border-solid border-gray-300 rounded-sm p-2 my-2">
        <div
            class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-300">
          @if (selectedProduct.product.image) {
            <img [ngSrc]="selectedProduct.product.image"
                 class="w-12 h-full object-cover"
                 width="60"
                 height="60"
                 alt="product image"/>
          } @else {
            <i class="fa-solid fa-image fa-xl text-gray-400"></i>
          }
        </div>
        <div class="col-span-8">
          <div class="grid grid-cols-2 grid-rows-3 text-start w-full text-xs">
            <span class="line-clamp-1">{{ selectedProduct.product.name }}</span>
            <span class="line-clamp-1 font-mono">{{ selectedProduct.product.code }}</span>
            <span class="line-clamp-1">{{ selectedProduct.color.label }}</span>
            <span class="line-clamp-1 font-mono">{{ selectedProduct.size.label }}</span>
            <span class="line-clamp-1">
                  <span class="font-mono">{{ selectedProduct.sellingUnitPrice | number }}</span>
                  <span class="mx-1 text-gray-600" style="font-size: 0.6rem">ریال</span>
                </span>
            <span class="line-clamp-1 font-mono">{{ selectedProduct.availableQuantity }}</span>
          </div>
        </div>
        <div class="col-span-1 justify-self-end self-center">
          <button class="leading-none" nz-button nzType="primary" nzDanger nzSize="small"
                  (click)="removeSelectedProduct(selectedProduct)">
            <i class="fa-solid fa-trash fa-sm leading-tight"></i>
          </button>
        </div>
      </div>
    } @empty {
      <nz-empty nzNotFoundContent="کالایی یافت نشد"></nz-empty>
    }
  </div>
</ng-template>
