@if ({ loading: loading$ | async }; as data) {
  <card-container class="backdrop-blur-xl mb-4 sticky top-0 z-50">
    <div class="grid grid-cols-6 grid-rows-2 gap-x-2">
      <div class="col-span-2">
        <span class="text-xs">تعداد:</span>
        <span class="font-mono mx-2">{{ totalOrderQuantity() }}</span>
      </div>
      <div class="col-span-4">
        <span class="text-xs">قیمت سفارشات:</span>
        <div class="mx-2 inline-block">
          <span class="font-mono">{{ totalOrderPrice() | number }}</span>
          <currency-wrapper></currency-wrapper>
        </div>
      </div>
      <div class="col-span-2">
        <span class="text-xs">پست:</span>
        <div class="mx-2 inline-block">
          <span class="font-mono">{{ postFee() | number }}</span>
          <currency-wrapper></currency-wrapper>
        </div>
      </div>
      <div class="col-span-4">
        <span class="text-xs">تخفیف:</span>
        <div class="mx-2 inline-block">
          <span class="font-mono">{{ discount() | number }}</span>
          <currency-wrapper></currency-wrapper>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="grid grid-cols-2">
      <span>مقدار پرداختی نهایی</span>
      <div class="text-end">
        <strong class="text-end font-mono">{{ orderFee() | number }}</strong>
        <currency-wrapper></currency-wrapper>
      </div>
    </div>
  </card-container>

  <page-container class="mb-4">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input nz-input
             type="search"
             pattern="^[a-zA-Z0-9]{1,12}$"
             maxlength="12"
             [(ngModel)]="searchText"
             placeholder="جستجو در کد محصولات">
    </nz-input-group>
    <nz-collapse class="mt-4">
      <nz-collapse-panel nzHeader="لیست همه محصولات موجود" nzActive="true">
        @for (product of availableProducts | filterProductsByCode: searchText; track product.product.id) {
          <card-container>
            <div class="grid grid-cols-12 gap-4">
              <div
                  class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-600">
                @if (product.product.image) {
                  <img [src]="product.product.image"
                       class="w-12 h-full object-cover"
                       alt="product image"/>
                } @else {
                  <i class="fa-solid fa-image fa-xl text-gray-400"></i>
                }
              </div>
              <div class="col-span-8">
                <div class="grid grid-cols-2 grid-rows-3 text-start w-full text-xs">
                  <span class="line-clamp-1">{{ product.product.name }}</span>
                  <span class="line-clamp-1 font-mono">{{ product.product.code }}</span>
                  <span class="line-clamp-1">{{ product.color.label }}</span>
                  <span class="line-clamp-1 font-mono">{{ product.size.label }}</span>
                  <span class="line-clamp-1">
                  <span class="font-mono">{{ product.sellingUnitPrice | number }}</span>
                  <currency-wrapper></currency-wrapper>
                </span>
                  <span class="line-clamp-1 font-mono">{{ product.availableQuantity }}</span>
                </div>
              </div>
              <div class="col-span-1 justify-self-end self-center">
                <button [nzLoading]="data.loading" class="leading-none" type="button" nz-button nzType="primary" nzSize="small"
                        (click)="moveProductToOrder(product)">
                  <i class="fa-solid fa-plus fa-sm leading-tight"></i>
                </button>
              </div>
            </div>
          </card-container>
        } @empty {
          <nz-empty nzNotFoundContent="کالایی یافت نشد"></nz-empty>
        }
      </nz-collapse-panel>
    </nz-collapse>
  </page-container>

  <page-container>
    <form nz-form (ngSubmit)="submitOrderForm()" [formGroup]="saleInvoiceForm">
      <form nz-form nzLabelAlign="right" nzLayout="vertical" [formGroup]="saleInvoiceForm.controls.customer">
        <!-- customer phone -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="phone">شماره تماس</nz-form-label>
          <nz-form-control dir="ltr">
            <nz-input-group nzAddOnBefore="+98">
              <input nz-input
                     required
                     type="tel"
                     inputmode="numeric"
                     maxlength="10"
                     formControlName="phone"
                     id="phone"
                     placeholder="بدون صفر"
                     [nzAutocomplete]="phones"/>
              <nz-autocomplete #phones>
                @for (customer of customers; track customer.id) {
                  <nz-auto-option dir="ltr" [nzLabel]="customer.phone"
                                  [nzValue]="customer.phone">{{ customer.phone }}
                  </nz-auto-option>
                }
              </nz-autocomplete>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- customer full name -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">نام کامل مشتری</nz-form-label>
          <nz-form-control>
            <input nz-input required name="name" type="text" id="name"
                   formControlName="name"/>
          </nz-form-control>
        </nz-form-item>
        <!-- customer city -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="city">شهر</nz-form-label>
          <nz-form-control>
            <input nz-input required name="city" type="text" id="city"
                   formControlName="city"/>
          </nz-form-control>
        </nz-form-item>
        <!-- customer address -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="address">آدرس</nz-form-label>
          <nz-form-control>
        <textarea
            nz-input
            required
            name="address"
            id="address"
            formControlName="address"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
          </nz-form-control>
        </nz-form-item>
        <!-- postal code -->
        <nz-form-item>
          <nz-form-label nzFor="postalCode">کد پستی</nz-form-label>
          <nz-form-control>
            <input nz-input required name="postalCode" type="text" inputmode="numeric" id="postalCode"
                   formControlName="postalCode"/>
          </nz-form-control>
        </nz-form-item>
        <!-- instagram -->
        <nz-form-item>
          <nz-form-label nzFor="instagram">
            <span>اینستاگرام</span>
            <i class="fa-brands fa-instagram mx-2"></i>
          </nz-form-label>
          <nz-form-control dir="ltr">
            <nz-input-group nzAddOnBefore="instagram.com/" nzAddOnAfter="/">
              <input nz-input name="instagram" type="text" id="instagram" minlength="1" maxlength="30"
                     formControlName="instagram"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- telegram -->
        <nz-form-item>
          <nz-form-label nzFor="telegram">
            <span>تلگرام</span>
            <i class="fa-brands fa-telegram mx-2"></i>
          </nz-form-label>
          <nz-form-control dir="ltr">
            <nz-input-group nzAddOnBefore="t.me/" nzAddOnAfter="/">
              <input nz-input name="telegram" type="text" id="telegram" minlength="5" maxlength="32"
                     formControlName="telegram"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <!-- city --->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="city">شهر</nz-form-label>
        <nz-form-control>
          <input nz-input required name="city" type="text"
                 formControlName="city"/>
        </nz-form-control>
      </nz-form-item>
      <!-- address --->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">آدرس</nz-form-label>
        <nz-form-control>
        <textarea
            nz-input
            required
            name="address"
            formControlName="address"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
        </nz-form-control>
      </nz-form-item>
      <!-- description --->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="description">توضیحات</nz-form-label>
        <nz-form-control>
        <textarea
            nz-input
            required
            name="description"
            id="description"
            formControlName="description"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
      <!-- payment status --->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="paymentStatus">وضعیت پرداخت</nz-form-label>
        <nz-form-control>
          <nz-segmented [nzOptions]="paymentStatusOptions" formControlName="paymentStatus"></nz-segmented>
        </nz-form-control>
      </nz-form-item>
      <!-- shipping status -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="shippingStatus">وضعیت حمل و نقل</nz-form-label>
        <nz-form-control>
          <nz-segmented [nzOptions]="shippingStatusOptions" formControlName="shippingStatus"></nz-segmented>
        </nz-form-control>
      </nz-form-item>
      <!-- shipping price -->
      <nz-form-item>
        <nz-form-label nzFor="shippingPrice">هزینه حمل و نقل</nz-form-label>
        <nz-form-control dir="ltr">
          <nz-input-group nzAddOnBefore="ریال">
            <input class="font-mono" nz-input name="shippingPrice" type="number" id="shippingPrice"
                   formControlName="shippingPrice"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- discount -->
      <nz-form-item>
        <nz-form-label nzFor="discount">تخفیف</nz-form-label>
        <nz-form-control dir="ltr">
          <nz-input-group nzAddOnBefore="ریال">
            <input class="font-mono" nz-input name="discount" type="number" id="discount"
                   formControlName="discount"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- ref number -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="refNumber">شماره پیگیری</nz-form-label>
        <nz-form-control dir="ltr">
          <input class="font-mono" nz-input required name="refNumber" type="text" id="refNumber"
                 formControlName="refNumber"/>
        </nz-form-control>
      </nz-form-item>
      <!-- items -->
      <nz-form-item>
        <nz-form-label nzFor="items">سفارشات</nz-form-label>
        <nz-form-control>
          <ng-container *ngTemplateOutlet="selectedProductsTemplate"></ng-container>
        </nz-form-control>
      </nz-form-item>
      <!-- submit -->
      <button [nzLoading]="data.loading" [disabled]="saleInvoiceForm.invalid || data.loading" nz-button
              nzType="primary" nzBlock type="submit">ثبت فاکتور
      </button>
    </form>
  </page-container>


  <ng-template #suffixIconSearch>
    <i class="fa-solid fa-search text-gray-500"></i>
  </ng-template>

  <ng-template #selectedProductsTemplate>
    @for (selectedProduct of selectedProducts; track $index) {
      <card-container class="mb-2 last:mb-0">
        <div class="grid grid-cols-12 gap-4">
          <div
              class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-600">
            @if (selectedProduct.product.image) {
              <img [src]="selectedProduct.product.image"
                   class="w-12 h-full object-cover"
                   alt="product image"/>
            } @else {
              <i class="fa-solid fa-image fa-xl text-gray-400"></i>
            }
          </div>
          <div class="col-span-8">
            <div class="grid grid-cols-2 grid-rows-3 text-start w-full text-xs">
              <span class="line-clamp-1">{{ selectedProduct.product.name }}</span>
              <span class="line-clamp-1 font-mono">{{ selectedProduct.product.code }}</span>
              <span class="line-clamp-1">{{ selectedProduct.color.label }}</span>
              <span class="line-clamp-1 font-mono">{{ selectedProduct.size.label }}</span>
              <div class="line-clamp-1 col-span-1">
                <span class="font-mono">{{ selectedProduct.sellingUnitPrice | number }}</span>
                <currency-wrapper></currency-wrapper>
              </div>
              <span class="line-clamp-1 font-mono">{{ selectedProduct.availableQuantity }}</span>
            </div>
          </div>
          <div class="col-span-1 justify-self-end self-center">
            <button [nzLoading]="data.loading" class="leading-none" nz-button nzType="primary" type="button" nzDanger nzSize="small"
                    (click)="removeSelectedProduct(selectedProduct)">
              <i class="fa-solid fa-trash fa-sm leading-tight"></i>
            </button>
          </div>
        </div>
      </card-container>
    } @empty {
      <nz-empty nzNotFoundContent="کالایی یافت نشد"></nz-empty>
    }
  </ng-template>
}