<page-container>
  <form nz-form
        nzLabelAlign="right"
        nzLayout="vertical"
        (ngSubmit)="submitPurchaseForm()"
        [formGroup]="purchaseForm">
    <!-- invoice number -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="invoiceNumber">شماره فاکتور</nz-form-label>
      <nz-form-control dir="ltr">
        <input nz-input required name="invoiceNumber" type="text" id="invoiceNumber" formControlName="number"/>
      </nz-form-control>
    </nz-form-item>
    <!-- supplier id -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="supplierId">تامین کننده</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="supplierId">
          @if (suppliers$ | async; as suppliers) {
            @for (supplier of suppliers.items; track $index) {
              <nz-option [nzValue]="supplier.id" [nzLabel]="supplier.name"></nz-option>
            }
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- description -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="description">توضیحات بیشتر</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          name="description"
          type="text"
          id="description"
          formControlName="description"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <!-- total price -->
    <nz-form-item>
      <nz-form-label nzFor="totalPrice">مجموع قیمت سفارشات</nz-form-label>
      <nz-form-control>
        <nz-input-group nzAddOnBefore="ریال">
          <input class="font-mono"
                 nz-input name="totalPrice"
                 type="number" inputmode="numeric"
                 id="totalPrice" formControlName="totalPrice"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- discount -->
    <nz-form-item>
      <nz-form-label nzFor="discount">تخفیف</nz-form-label>
      <nz-form-control>
        <nz-input-group nzAddOnBefore="ریال">
          <input class="font-mono"
                 nz-input name="discount"
                 type="number" inputmode="numeric"
                 id="discount" formControlName="discount"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- paid price -->
    <nz-form-item>
      <nz-form-label nzFor="paidPrice">مبلغ پرداختی</nz-form-label>
      <nz-form-control>
        <nz-input-group nzAddOnBefore="ریال">
          <input class="font-mono"
                 nz-input name="paidPrice"
                 type="number" inputmode="numeric"
                 id="paidPrice" formControlName="paidPrice"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- items -->
    <nz-form-item>
      <nz-divider></nz-divider>
      <card-container>
        <nz-form-label nzRequired nzFor="items">سفارشات</nz-form-label>
        <nz-form-control>
          <div formArrayName="items">
            <div style="grid-template-columns: repeat(24, minmax(0, 1fr))" class="grid gap-x-2 mb-2">
              <div></div>
              <label for="code" class="col-span-5">کد محصول</label>
              <label for="color" class="col-span-3">رنگ</label>
              <label for="size" class="col-span-3">سایز</label>
              <label for="quantity" class="col-span-3">تعداد</label>
              <label for="unitPrice" class="col-span-4">قیمت واحد</label>
              <label for="sellingPrice" class="col-span-4">قیمت فروش</label>
              <div></div>
            </div>
            @for (item of items.controls; let i = $index; track i) {
              <div [formGroupName]="i">
                <div style="grid-template-columns: repeat(24, minmax(0, 1fr))" class="grid gap-x-2 mb-4">
                  <div>
                    <button [nzLoading]="loadingState" [disabled]="loadingState" nz-button nzType="primary"
                            type="button" (click)="addItem(i)">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                  <div id="code" class="col-span-5">
                      <nz-select formControlName="productId" [nzOptionHeightPx]="58">
                        @if (products$ | async; as products) {
                          @for (product of products.items; track $index) {
                            <nz-option [nzValue]="product.id" nzCustomContent [nzLabel]="product.code">
                              <div class="grid grid-cols-12 grid-rows-1 gap-2">
                                <div
                                  class="col-span-3 h-12 w-12 text-center content-center inline-block overflow-clip border border-solid border-gray-600">
                                  @if (product.image) {
                                    <img [src]="product.image"
                                         class="w-12 h-full object-cover"
                                         alt="product image"/>
                                  } @else {
                                    <i class="fa-solid fa-image fa-xl text-gray-400"></i>
                                  }
                                </div>
                                <div class="col-span-9 grid grid-cols-9 grid-rows-2 w-full">
                                  <div class="col-span-5 text-xs">{{ product.name }}</div>
                                  <div class="col-span-5 font-mono font-bold text-xs">{{ product.code }}</div>
                                </div>
                              </div>
                            </nz-option>
                          }
                        }
                      </nz-select>
                  </div>
                  <div id="color" class="col-span-3">
                    <nz-select formControlName="colorId">
                      @for (color of colors$ | async; track $index) {
                        <nz-option [nzValue]="color.id" [nzLabel]="color.label"></nz-option>
                      }
                    </nz-select>
                  </div>
                  <div id="size" class="col-span-3">
                    <nz-select formControlName="sizeId">
                      @for (size of sizes$ | async; track $index) {
                        <nz-option [nzValue]="size.id" [nzLabel]="size.label"></nz-option>
                      }
                    </nz-select>
                  </div>
                  <div id="quantity" class="col-span-3">
                    <nz-input-number class="w-full" nzInputMode="number" [nzStep]="1" [nzMin]="1"
                                     formControlName="quantity"></nz-input-number>
                  </div>
                  <div id="unitPrice" class="col-span-4">
                    <nz-input-group nzAddOnBefore="ریال">
                      <input class="font-mono" nz-input name="purchaseUnitPrice" type="number" inputmode="numeric"
                             formControlName="purchaseUnitPrice"/>
                    </nz-input-group>
                  </div>
                  <div id="sellingPrice" class="col-span-4">
                    <nz-input-group nzAddOnBefore="ریال">
                      <input class="font-mono" nz-input name="sellingUnitPrice" type="number" inputmode="numeric"
                             formControlName="sellingUnitPrice" [nzAutocomplete]="suggestionSellPrices"/>
                      <nz-autocomplete #suggestionSellPrices>
                        @for (suggestion of suggestionSellPricesByPercentage; track $index) {
                          <nz-auto-option [nzValue]="item.value.purchaseUnitPrice * ((100 + suggestion) / 100)">
                            {{ item.value.purchaseUnitPrice * ((100 + suggestion) / 100) }}
                          </nz-auto-option>
                        }
                      </nz-autocomplete>
                    </nz-input-group>
                  </div>
                  <div>
                    <button [nzLoading]="loadingState" [disabled]="loadingState" nz-button nzType="default" nzDanger
                            type="button" (click)="removeItem(i)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            } @empty {
              <nz-empty nzNotFoundContent="محصولی نیست"></nz-empty>
            }
          </div>
        </nz-form-control>
      </card-container>
    </nz-form-item>
    <!-- submit -->
    <nz-form-item>
      <nz-form-control>
        <button [nzLoading]="loadingState" [disabled]="purchaseForm.invalid || loadingState" nz-button nzType="primary"
                nzBlock type="submit">ثبت فاکتور
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</page-container>
