<page-container>
  <form nz-form
        nzLabelAlign="right"
        nzLayout="vertical"
        (ngSubmit)="submitPurchaseForm()"
        [formGroup]="purchaseForm">
    <!-- invoice number -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="invoiceNumber">شماره فاکتور</nz-form-label>
      <nz-form-control dir="ltr">
        <input nz-input required name="invoiceNumber" type="text" id="invoiceNumber" formControlName="number"/>
      </nz-form-control>
    </nz-form-item>
    <!-- supplier id -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="supplierId">تامین کننده</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="supplierId">
          @if (suppliers$ | async; as suppliers) {
            @for (supplier of suppliers.items; track $index) {
              <nz-option [nzValue]="supplier.id" [nzLabel]="supplier.name"></nz-option>
            }
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- description -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="description">توضیحات بیشتر</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          name="description"
          type="text"
          id="description"
          formControlName="description"
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <!-- total price -->
    <nz-form-item>
      <nz-form-label nzFor="totalPrice">مجموع قیمت سفارشات</nz-form-label>
      <nz-form-control>
        <ngx-price-input formControlName="totalPrice"></ngx-price-input>
      </nz-form-control>
    </nz-form-item>
    <!-- discount -->
    <nz-form-item>
      <nz-form-label nzFor="discount">تخفیف</nz-form-label>
      <nz-form-control>
        <ngx-price-input formControlName="discount"></ngx-price-input>
      </nz-form-control>
    </nz-form-item>
    <!-- paid price -->
    <nz-form-item>
      <nz-form-label nzFor="paidPrice">مبلغ پرداختی</nz-form-label>
      <nz-form-control>
        <ngx-price-input formControlName="paidPrice"></ngx-price-input>
      </nz-form-control>
    </nz-form-item>
    <!-- items -->
    <nz-form-item>
      @if (isDesktop) {
        <nz-form-label nzRequired nzFor="items">سفارشات</nz-form-label>
        <nz-form-control>
          <nz-table nzSize="small" [nzData]="items.controls" [nzLoading]="loadingState" nzTableLayout="fixed"
                    nzTitle="افزودن مشخصات محصولات به صورت تکی">
            <thead>
            <tr>
              <th nzWidth="50px"></th>
              <th nzWidth="252px">کد محصول</th>
              <th nzWidth="144px">رنگ</th>
              <th nzWidth="100px">سایز</th>
              <th>خرید</th>
              <th>فروش</th>
              <th nzWidth="50px"></th>
            </tr>
            </thead>
            <tbody formArrayName="items">
              @for (item of items.controls; let i = $index; track item.value['uniqueId']) {
                <tr>
                  <td>
                    <button [nzLoading]="loadingState" [disabled]="loadingState" nz-button nzType="text"
                            type="button" nzBlock (click)="addItem(i)">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <nz-select nzPlaceHolder="کد" formControlName="productId" [nzOptionHeightPx]="58">
                      @if (products$ | async; as products) {
                        @for (product of products.items; track $index) {
                          <nz-option [nzValue]="product.id" nzCustomContent [nzLabel]="product.code">
                            <div class="flex gap-2">
                              <product-image-container [imageSrc]="product.image"></product-image-container>
                              <div>
                                <div class="col-span-5 text-xs">{{ product.name }}</div>
                                <div class="col-span-5 font-mono font-bold text-xs">{{ product.code }}</div>
                              </div>
                            </div>
                          </nz-option>
                        }
                      }
                    </nz-select>
                  </td>
                  <td>
                    <nz-select nzPlaceHolder="رنگ" formControlName="colorId">
                      @for (color of colors$ | async; track $index) {
                        <nz-option [nzValue]="color.id" [nzLabel]="color.label"></nz-option>
                      }
                    </nz-select>
                  </td>
                  <td>
                    <nz-select nzPlaceHolder="سایز" formControlName="sizeId">
                      @for (size of sizes$ | async; track $index) {
                        <nz-option [nzValue]="size.id" [nzLabel]="size.label"></nz-option>
                      }
                    </nz-select>
                  </td>
                  <td>
                    <ngx-price-input formControlName="purchaseUnitPrice"></ngx-price-input>
                  </td>
                  <td>
                    <ngx-price-input formControlName="sellingUnitPrice"></ngx-price-input>
                  </td>
                  <td>
                    <button [nzLoading]="loadingState" [disabled]="loadingState" nz-button nzType="text" nzDanger
                            type="button" nzBlock (click)="removeItem(i)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
              } @empty {
                <button [nzLoading]="loadingState" [disabled]="loadingState" nz-button nzType="primary"
                        type="button" nzBlock (click)="addItem()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              }
            </tbody>
          </nz-table>
        </nz-form-control>
      } @else {
        <nz-alert class="mb-4" nzType="info" nzShowIcon
                  nzMessage="به دلیل حساسیت بالا این قسمت فقط در دسکتاپ قابل ویرایش است"></nz-alert>
      }
    </nz-form-item>
    <nz-divider></nz-divider>
    <!-- batch submit -->
    <batch-purchase></batch-purchase>
    <nz-divider></nz-divider>
    <!-- submit -->
    <nz-form-item>
      <nz-form-control>
        <button [nzLoading]="loadingState" [disabled]="purchaseForm.invalid || loadingState" nz-button nzType="primary"
                nzBlock type="submit">ثبت فاکتور
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</page-container>
