<div>
  @if (cartOrders$ | async; as cartOrders) {
    @for (cartOrder of cartOrders; track cartOrder.code) {
      <div class="flex mb-4 bg-gray-100 overflow-clip rounded-md w-full">
        <div>
          <img [ngSrc]="cartOrder.imageSrc"
               [alt]="'image of product code: ' + cartOrder.code"
               class="object-cover aspect-square h-full me-4"
               width="100"
               height="100"
          />
        </div>
        <div class="p-4">
          <strong>{{ cartOrder.name }}</strong>
          <div class="flex gap-4 items-center">
            <span class="text-xs text-gray-800">سایز</span>
            <span>{{ cartOrder.size }}</span>
          </div>
          <div class="flex gap-4 items-center">
            <span class="text-xs text-gray-800">رنگ</span>
            <span class="w-3 h-3 inline-block rounded-full" [style]="{'background-color': cartOrder.colorCode}"></span>
          </div>
          <div class="flex gap-4 items-center">
            <span class="text-xs text-gray-800">قیمت</span>
            <div>
              <span class="me-1">{{ cartOrder.price | number }}</span>
              <span class="text-xs text-gray-700">ریال</span>
            </div>
          </div>
        </div>
      </div>
    }
    <nz-divider></nz-divider>
    <form nz-form [formGroup]="checkoutForm" (ngSubmit)="onCheckout()">
      <nz-form-item>
        <label>اگر کد تخفیف دارید، وارد کنید:</label>
        <nz-form-control>
          <nz-input-group [nzAddOnAfter]="checkDiscountCode">
            <input nz-input formControlName="discountCode"/>
          </nz-input-group>
        </nz-form-control>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [nzLoading]="isCheckingOut$ | async" (click)="onCheckout()">پرداخت</button>
          </nz-form-control>
        </nz-form-item>
      </nz-form-item>
    </form>
  }
</div>

<ng-template #checkDiscountCode>
  <button nz-button [nzLoading]="isCheckingDiscountCode$ | async" (click)="onCheckDiscountCode()">اعمال</button>
</ng-template>
