@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/vazirmatn/webfonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss01';
}
