<page-container>
  <button [nzLoading]="loadingState" [disabled]="loadingState" nzType="primary" nz-button nzBlock (click)="isAddCustomerVisible = true">
    <i class="fa-solid fa-plus mx-2"></i>
    <span>افزودن مشتری</span>
  </button>
  <nz-divider></nz-divider>
  @if (customersIndex$ | async; as customers) {
    <ul>
      @for (customer of customers.items; track $index) {
        <card-container class="mb-3 last:mb-0">
          <li>
            <!-- name -->
            <div>
              <i class="fa-solid fa-user mx-2"></i>
              <span>{{ customer.name}}</span>
            </div>
            <!-- phone -->
            <div>
              <i class="fa-solid fa-phone mx-2"></i>
              <a [href]="'tel:+98' + customer.phone" target="_blank" class="col-span-3 font-mono text-indigo-500" dir="ltr">{{ customer.phone | phoneFormat}}</a>
            </div>
            <!-- city -->
            <div>
              <i class="fa-solid fa-city mx-2"></i>
              <span>{{ customer.city}}</span>
            </div>
            <!-- address -->
            <div class="col-span-8">
              <i class="fa-solid fa-location-dot mx-2"></i>
              <span>{{ customer.address}}</span>
            </div>
            <!-- postal code -->
            @if (customer.postalCode) {
              <i class="fa-solid fa-map-location-dot mx-2"></i>
              <span>{{ customer.postalCode}}</span>
            }
            <!-- telegram username -->
            @if (customer.telegram) {
              <div>
                <i class="fa-brands fa-telegram mx-2"></i>
                <a [href]="'https://t.me/' + customer.instagram" target="_blank" class="col-span-3 font-mono text-indigo-500" dir="ltr">{{ customer.telegram}}</a>
              </div>
            }
            <!-- instagram username -->
            @if (customer.instagram) {
              <div>
                <i class="fa-brands fa-instagram mx-2"></i>
                <a [href]="'https://instagram.com/' + customer.instagram" target="_blank" class="col-span-3 font-mono text-indigo-500" dir="ltr">{{ customer.instagram}}</a>
              </div>
            }
            <div class="col-span-8 mt-4">
              <div class="flex gap-2">
                <button [nzLoading]="loadingState" [disabled]="loadingState" nzType="default" nzSize="small" nzBlock nz-button (click)="selectCustomerToEdit(customer)">
                  <i class="fa-solid fa-pen fa-xs mx-2"></i>
                  <span>ویرایش</span>
                </button>
                <button [nzLoading]="loadingState" [disabled]="loadingState" nzType="default" nzSize="small" nzBlock nzDanger nz-button (click)="deleteCustomer(customer.id)">
                  <i class="fa-solid fa-trash fa-xs mx-2"></i>
                  <span>حذف</span>
                </button>
              </div>
            </div>
          </li>
        </card-container>
      } @empty {
        <nz-empty nzNotFoundContent="موردی یافت نشد"></nz-empty>
      }
    </ul>
  } @else if (loadingState) {
    <ul>
      @for (_ of [].constructor(3); track $index) {
        <li class="mb-3 last:mb-0 text-xs rounded-sm overflow-clip border border-solid border-gray-600 p-4">
          <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
        </li>
      }
    </ul>
  }
</page-container>

<nz-drawer [nzFooter]="createCustomerFooter"
           nzClosable
           nzSize="large"
           nzPlacement="bottom"
           nzTitle="افزودن مشتری"
           [nzVisible]="isAddCustomerVisible"
           (nzOnClose)="closeAddCustomer()">
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="customerFormTempRef"></ng-container>
  </ng-container>
</nz-drawer>

<nz-drawer [nzFooter]="editCustomerFooter"
           nzClosable
           nzSize="large"
           nzPlacement="bottom"
           nzTitle="ویرایش مشتری"
           [nzVisible]="isEditCustomerVisible"
           (nzOnClose)="closeAddCustomer()">
  <ng-container *nzDrawerContent>
    <ng-container *ngTemplateOutlet="customerFormTempRef"></ng-container>
  </ng-container>
</nz-drawer>

<ng-template #customerFormTempRef>
  <form nz-form nzLabelAlign="right"
        nzLayout="vertical"
        [formGroup]="createCustomerForm"
        (ngSubmit)="createCustomer()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">نام مشتری</nz-form-label>
      <nz-form-control>
        <input nz-input required name="name" type="text" id="name"
               formControlName="name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="phone">شماره موبایل</nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="+98">
          <input nz-input required maxlength="10" minlength="10" name="phone" type="tel" pattern="[0-9]*"
                 inputmode="numeric" id="phone" formControlName="phone"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="city">شهر</nz-form-label>
      <nz-form-control>
        <input nz-input required name="city" type="text" id="city"
               formControlName="city"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="address">آدرس</nz-form-label>
      <nz-form-control>
        <textarea
            nz-input
            required
            name="address"
            id="address"
            formControlName="address"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="postalCode">کد پستی</nz-form-label>
      <nz-form-control dir="ltr">
        <input nz-input maxlength="10" minlength="10" name="postalCode" type="text" pattern="[0-9]*"
               inputmode="numeric" id="postalCode" formControlName="postalCode"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="instagram">
        <span>اینستاگرام</span>
        <i class="fa-brands fa-instagram mx-2"></i>
      </nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="instagram.com/" nzAddOnAfter="/">
          <input nz-input name="instagram" type="text" id="instagram" minlength="1" maxlength="30"
                 pattern="^[a-zA-Z0-9._]{1,30}$" formControlName="instagram"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="telegram">
        <span>تلگرام</span>
        <i class="fa-brands fa-telegram mx-2"></i>
      </nz-form-label>
      <nz-form-control dir="ltr">
        <nz-input-group nzAddOnBefore="t.me/" nzAddOnAfter="/">
          <input nz-input name="telegram" type="text" id="telegram" minlength="5" maxlength="32"
                 pattern="^[a-zA-Z][a-zA-Z0-9_]{4,31}$" formControlName="telegram"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #createCustomerFooter>
  <button [nzLoading]="loadingState" nz-button nzBlock nzSize="large" nzType="primary" [disabled]="createCustomerForm.invalid || loadingState" (click)="createCustomer()">
    <i class="fa-solid fa-plus mx-2"></i>
    <span>افزودن</span>
  </button>
</ng-template>
<ng-template #editCustomerFooter>
  <button [nzLoading]="loadingState" nz-button nzBlock nzSize="large" nzType="primary" [disabled]="createCustomerForm.invalid || loadingState" (click)="editCustomer()">
    <i class="fa-solid fa-pen mx-2"></i>
    <span>ویرایش</span>
  </button>
</ng-template>
