<div
  #storyElement
  style="height: 590px; background-image: url('/images/bg-pattern.jpg')"
  class="w-80 mx-auto text-center mt-2 bg-white px-8 relative"
>
  <div class="h-6"></div>
  <h1 style="font-family: Candice, serif" class="text-rose-600 text-3xl">HeyLee</h1>
  <div class="h-6"></div>
  <div class="w-64 py-2 bg-gradient-to-bl shadow from-purple-200 to-sky-200 mx-auto text-center rounded-xl">
    <img
      *ngIf="stockItem.image"
      [src]="stockItem.image"
      alt="Product Image"
      class="w-40 rounded-xl inline-block my-3 border-2 border-solid border-gray-100"
    />
    <div>
      <h1 class="font-bold my-1 text-gray-700">{{ stockItem.name }}</h1>
      <div class="font-bold my-1 text-gray-700">
        <span class="text-cyan-600">رنگ‌ها </span>
        @for (color of stockItem.colors; track $index) {
          <span>
            {{ color.label }}
          </span>
        }
      </div>

      <div class="font-bold my-1 text-gray-700">
        <span class="text-cyan-600">سایزها </span>
        @for (color of stockItem.colors; track $index) {
          <span class="first:me-4">
            @for (size of color.sizes; track $index) {
              <span>
                {{ size.label }}
              </span>
            }
          </span>
        }
      </div>

      <div class="text-gray-600">
        <span class="font-mono">{{ stockItem.code }}</span>
      </div>
    </div>
  </div>
  <div class="h-6"></div>
  <div
    class="inline-block text-2xl font-bold text-gray-600">
        <span class="align-middle">
          {{ discountedPrice || (stockItem.sellingUnitPrice / 10) | number }}
        </span>
    <span class="mx-1 opacity-70" style="font-size: 0.6rem">تومان</span>
  </div>

  <div *ngIf="marketingDescription" class="text-lg italic text-gray-500">
    "{{ marketingDescription }}"
  </div>
  <div
    *ngIf="discountPercentage"
    class="absolute top-8 left-8 bg-red-500 text-white py-2 px-4 rounded-full"
  >
    {{ discountPercentage }}% OFF
  </div>
</div>

<button
  (click)="downloadStory()"
  nz-button nzType="primary"
>
  Generate Story
</button>
